@import "tailwindcss";

:root {
 --background: #ffffff;
 --primary: #eae329;
 --body: #222222;
}

@media (prefers-color-scheme: dark) {
 :root {
  --background: #222222;
  --color-primary: var(--primary);
  --body: #ffffff;
 }
}

@theme inline {
 --color-primary: var(--primary);
 --color-body: var(--body);
 --font-mono: var(--font-aleo-mono);
}

body {
 background: var(--background);
 color: var(--body);
 max-width: 1200px;
 margin: 0 auto;
}

.flex-stretch {
 flex: 1 1 auto;
}

.game-box {
 position: relative;
 width: 100%;
 max-width: 1000px;
 margin: 16px auto;
 border: 4px solid limegreen;
 border-radius: 12px;
 overflow: hidden;
 background: #000;
 box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);

 /* maintain 16:9 ratio on desktop */
 aspect-ratio: 16 / 9;
}

/* Iframe fills container */
.game-box iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border: none;
 display: block;
 border-radius: 8px;
}

/* Tablet ratio */
@media (max-width: 991px) {
 .game-box {
  aspect-ratio: 4 / 3;
 }
}

/* Mobile ratio */
@media (max-width: 600px) {
 .game-box {
  aspect-ratio: 3 / 4;
  max-width: 95%;
 }
}
