@import "tailwindcss";
@import "tw-animate-css";

:root {
 --html-background: #f7f8f9;
 --background: #ffffff;
 --primary: #eae329;
 --primary-foreground: #222222;
 --body: #222222;
 --link: #1e73be;
}

html.dark {
 --html-background: #141313;
 --background: #222222;
 --primary: #b3ae35;
 --primary-foreground: #222222;
 --body: #ffffff;
 --link: #1e73be;
}

@theme inline {
 --color-html-background: var(--html-background);
 --color-background: var(--background);
 --color-primary: var(--primary);
 --color-primary-foreground: var(--primary-foreground);
 --color-body: var(--body);
 --color-link: var(--link);
 --font-mono: var(--font-aleo-mono);
}

html {
 scroll-behavior: smooth;
}

body {
 line-height: 1.5;
}

button {
 cursor: pointer;
}

.flex-stretch {
 flex: 1 1 auto;
}

.game-box {
 position: relative;
 width: 100%;
 max-width: 1000px;
 margin: 16px auto;
 border: 4px solid limegreen;
 border-radius: 12px;
 overflow: hidden;
 background: #000;
 box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);

 /* maintain 16:9 ratio on desktop */
 aspect-ratio: 16 / 9;
}

/* Iframe fills container */
.game-box iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border: none;
 display: block;
 border-radius: 8px;
}

/* Tablet ratio */
@media (max-width: 991px) {
 .game-box {
  aspect-ratio: 4 / 3;
 }
}

/* Mobile ratio */
@media (max-width: 600px) {
 .game-box {
  aspect-ratio: 3 / 4;
  max-width: 95%;
 }
}

.gradient-box-shadow {
 box-shadow: inset 0px 0px 60px -15px var(--primary);
}
